@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Aspirate.Web
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@* @inject WeatherApiClient WeatherApi *@
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

<AuthorizeView>
    <Authorized>
       <p>Logged in!</p>
    </Authorized>
    <NotAuthorized>
        <p><strong>Please <a href="authentication/login">log in</a> to view the weather data.</strong></p>
    </NotAuthorized>
</AuthorizeView>



@code {
    // private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            // forecasts = await WeatherApi.GetWeatherAsync();
        }
    }
}